# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
*.env

counselling_docs/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs / editors
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db
